@import "tailwindcss";

@font-face {
    font-family: 'BasisGrotesqueArabicPro';
    src: url('~/assets/fonts/BasisGrotesqueArabicPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BasisGrotesqueArabicPro';
    src: url('~/assets/fonts/BasisGrotesqueArabicPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html {
    overscroll-behavior: none;
}

body {
    font-family: 'BasisGrotesqueArabicPro', sans-serif;
    color: #EDF3F3;
    scrollbar-width: none;
    overscroll-behavior: none;
}

body::-webkit-scrollbar {
    display: none;
}

.marquee-text {
    display: inline-block;
    padding-right: 4rem;
    white-space: nowrap;
    font-weight: 300;
    font-size: inherit;
    letter-spacing: -2.88px;
}